@charset "UTF-8";
/* Tools */
/*Functions & Mixins */
/* Variables */
/* Base */
@import url(../node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("/assets/fontawesome/css/all.min.css");
/* @font-face {
    font-family: Segoe UI;
    src: url('/assets/font/segoe-ui/Segoe\ UI.woff') format("woff"),
         url('/assets/font/segoe-ui/Segoe\ UI\ Bold.woff')
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

/* Valeur Par Default */
:root h1, :root h2 {
  padding: 0;
  margin: 0;
  font-size: 1.1875rem;
  font-weight: 600;
  letter-spacing: -0.46px; }

:root h1 {
  font-size: 1.375rem; }

:root h3 {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: normal;
  text-align: left;
  color: #000; }

:root h5 {
  margin: 0;
  padding: 0; }

:root hr {
  margin: 115px 0;
  padding: 0;
  height: 2px;
  background-color: #e6e6e6;
  border: none; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  font-size: 15px;
  font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  line-height: 1.5; }

a {
  color: #262626;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

p {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33333; }

.img-fluid {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none; }
  ul li:last-child {
    margin: 0;
    padding: 0; }

/* Layouts */
.l-container {
  width: 87%;
  max-width: 1295px;
  margin: auto; }

/* /////////////////// RESPONSIVE //////////////// */
/* Modules */
/* ---------------- BUTTONS ---------- */
/* -------------------------------------- */
.btn, .btn-inverse {
  padding: 0.625rem 1.25rem;
  background: #fff;
  border-radius: 0;
  line-height: 1.23333;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #262626;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .btn:hover, .btn-inverse:hover {
    background: #ddd; }
    .btn:hover span, .btn-inverse:hover span {
      padding-bottom: 0.0875rem;
      border-bottom: 0.125rem solid #262626; }

.btn-inverse {
  background: #262626;
  color: #fff; }
  .btn-inverse:hover {
    background: #262626;
    opacity: 0.9; }
    .btn-inverse:hover span {
      padding-bottom: 1.4px;
      border-bottom: 2px solid #fff; }

.btn-primary {
  background: #DAB072;
  color: #fff;
  border: 1px solid #DAB072; }
  .btn-primary:hover {
    background: #fff;
    color: #DAB072;
    border: 1px solid #DAB072; }

.btn-more:after {
  content: "\f054";
  display: inline-block;
  padding-left: 0.3125rem;
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: 'Font Awesome 5 Free'; }

.btn-more:hover::after {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-left: 10px; }

.card {
  cursor: pointer; }
  .card .card-image {
    margin-bottom: 1.875rem; }
  .card .card-description {
    margin-top: 5px;
    margin-bottom: 15px; }
  .card .card-link {
    display: block;
    margin-bottom: 1.25rem;
    color: #0067B8;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.23333; }
    .card .card-link:last-child {
      margin-bottom: 0; }

.rounded {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #DAB072;
  display: inline-block;
  vertical-align: middle; }
  .rounded img {
    display: block; }

/* ///////////////////// RESPONSIVE ///////////////// */
@media (max-width: 1083px) {
  .card-link {
    display: inline-block !important;
    margin-right: 20px; } }

.input-group {
  border: 1px solid #fff;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.7s;
  transition: 0.7s; }
  .input-group:focus {
    border-color: #262626; }
    .input-group:focus .icon {
      color: #262626; }
  .input-group:hover {
    border-color: #DAB072; }
    .input-group:hover .icon {
      color: #262626; }

.input-field {
  width: 100%;
  padding: 0.625rem 1.875rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 0.625rem;
  color: inherit; }

.input-icon {
  display: inline-block;
  padding-right: 1.875rem; }
  .input-icon .icon {
    font-size: 0.8125rem; }
    .input-icon .icon:hover {
      color: #262626; }

.input-submit-btn {
  width: 100%;
  padding: 0 2.5rem;
  border-radius: 0; }

/* ////////////// RESPONSIVE ////////////////// */
@media only screen and (min-width: 410px) {
  .input-submit-btn {
    width: unset; } }

/* ---------------- MENU SECTION ---------- */
/* -------------------------------------- */
.main-nav {
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.0625rem;
  font-weight: 400; }

.nav-link {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-right: 1.25rem;
  font-size: 0.875rem; }
  .nav-link::after {
    content: '';
    display: block;
    height: 0.09375rem;
    width: calc(100% - 4px);
    margin: 0 auto;
    background: #fff; }
  .nav-link:hover {
    color: #DAB072; }
    .nav-link:hover::after {
      content: '';
      display: block;
      height: 0.09375rem;
      width: calc(100% - 4px);
      margin: 0 auto;
      background: #DAB072; }

header {
  margin-bottom: 50px; }

.header {
  background: #212f56 !important; }

.social-network li,
.links li {
  display: inline-block;
  text-transform: capitalize;
  color: #DAB072;
  padding-right: 0.625rem; }
  .social-network li:last-child,
  .links li:last-child {
    border: none;
    padding: 0; }
  .social-network li .rx,
  .links li .rx {
    color: #fff;
    font-size: 28px;
    -webkit-transition: .7s;
    transition: .7s;
    border: 0; }
    .social-network li .rx:hover,
    .links li .rx:hover {
      color: #DAB072; }

.top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .top-bar .logo {
    margin-top: 10px;
    width: 40%; }
  .top-bar .top-bar-right-bloc {
    text-align: right; }

.sub-bar {
  height: 10px;
  background: #DAB072; }

.link-auth {
  float: right;
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
  clear: both; }
  .link-auth .btn {
    border-radius: 0 0 8px 8px; }

/* ///////////////////// RESPONSIVE ///////////////// */
/* ---------------- Main content  ---------- */
/* -------------------------------------- */
.main-content {
  display: grid;
  width: 100%;
  margin-top: 1.875rem;
  grid-template-columns: 1fr 25%;
  grid-gap: 12px; }
  .main-content section {
    margin-top: 50px; }
    .main-content section .section-title {
      margin-bottom: 10px;
      color: #212F56;
      text-transform: uppercase; }
      .main-content section .section-title::before {
        content: "";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 0.8125rem;
        padding-right: 0.375rem;
        display: inline-block;
        color: #DAB072; }
  .main-content h1 {
    font-size: 22px;
    text-transform: capitalize;
    line-height: 1.59091;
    color: #212F56; }
  .main-content .content {
    border: 1px solid red; }

aside > div {
  margin-top: 20px; }
  aside > div:first-child {
    margin-top: 0; }

.bloc .title {
  color: #212F56;
  text-transform: uppercase; }
  .bloc .title .sub-title {
    display: block;
    font-size: 0.9375rem;
    line-height: 2; }

.bloc .info-title {
  font-size: 1rem;
  text-transform: capitalize; }

.bloc .pos {
  color: #DAB072;
  font-weight: 600;
  padding-right: 5px;
  text-transform: uppercase; }

.bloc .list li {
  padding: 3px 0;
  font-size: 16px;
  color: #3195D1;
  text-transform: capitalize; }

#nb_offer::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 0.8125rem;
  padding-right: 0.375rem;
  display: inline-block;
  color: #DAB072; }

.presentation,
.resume {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid green; }
  .presentation .text,
  .resume .text {
    font-size: 17px; }
  .presentation .more,
  .resume .more {
    text-decoration: underline;
    color: #3195D1; }
  .presentation .main-bloc,
  .resume .main-bloc {
    width: 60%; }
  .presentation .secondary-bloc,
  .resume .secondary-bloc {
    width: 40%; }

.featured-offers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; }

.offer {
  border: 1px solid #212F56;
  padding: 10px; }
  .offer .title {
    color: #DAB072;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer; }
  .offer .text {
    margin: 8px 0; }
  .offer .lieux, .offer .category {
    color: #212F56;
    text-transform: capitalize;
    font-size: 13px; }
  .offer #city, .offer #category {
    font-size: 13px;
    text-transform: capitalize; }
  .offer .date,
  .offer .entrepise {
    color: #212F56; }
  .offer .entrepise {
    font-weight: 600; }
  .offer .link {
    text-align: right; }
  .offer .more {
    background: #3195D1;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 2px 6px;
    border: 1px solid #212F56;
    border-radius: 10%; }

.item {
  border: 1px solid #e2e2e2;
  margin: 10px 0;
  -webkit-transition: .7s;
  transition: .7s; }
  .item:hover {
    background: -webkit-radial-gradient(whitesmoke, transparent);
    background: radial-gradient(whitesmoke, transparent);
    border: 1px solid #DAB072; }
  .item .title {
    clear: both; }
    .item .title .delete-item {
      font-size: 13px;
      font-weight: 600;
      color: #212F56;
      float: right; }
      .item .title .delete-item:hover {
        color: red; }

.form {
  border: 1px solid #e2e2e2;
  padding: 10px;
  color: #212F56; }

.form-offer {
  padding: 0;
  color: #212F56; }
  .form-offer .input-group {
    border: 1px solid #e2e2e2;
    margin-top: 10px;
    color: inherit; }
  .form-offer input:focus, .form-offer select:focus, .form-offer textarea:focus {
    color: #212F56;
    border: 1px solid #DAB072; }
  .form-offer button {
    padding: 6px;
    border-radius: 10%; }

select, textarea {
  padding: 6px;
  width: 100%;
  display: block;
  border-color: transparent;
  color: inherit;
  outline: none; }

input[type=submit] {
  width: 100%;
  text-transform: uppercase;
  color: #DAB072;
  cursor: pointer; }
  input[type=submit]:hover {
    color: #fff; }

.submit {
  border-color: transparent;
  display: block;
  cursor: pointer;
  border: 1 solid #DAB072; }
  .submit:hover {
    background: rgba(218, 176, 114, 0.7) !important; }

.search-bar .input-group {
  border-radius: 4.375rem; }
  .search-bar .input-group i {
    position: absolute;
    font-size: 1.0625rem; }
  .search-bar .input-group .icon {
    padding: 0.625rem;
    min-width: 2.5rem;
    color: inherit; }

.search-bar .input-field {
  text-transform: capitalize;
  padding-left: 2.75rem; }

/* ---------------- aside SECTION Page 1---------- */
/* -------------------------------------- */
.sidebar-right .section-title {
  font-size: 1rem; }

.sidebar-right > div, .sidebar-right section {
  margin-bottom: 30px; }

footer {
  margin: 70px 0 0 0;
  padding: 4.375rem 0 0.625rem 0;
  background: #212F56; }

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 24%;
  color: #DAB072;
  font-size: 0.75rem;
  padding: 0 0 70px 0; }
  .footer .title {
    color: whitesmoke;
    text-transform: uppercase;
    margin-bottom: 1.625rem; }
  .footer .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer .links {
    display: block; }
    .footer .links .link-item {
      color: inherit;
      display: block;
      padding: 0.375rem 0;
      font-size: 0.9375rem;
      text-transform: capitalize;
      -webkit-transition: .6s;
      transition: .6s; }
      .footer .links .link-item:hover {
        color: #fff; }
      .footer .links .link-item::before {
        content: "";
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 0.8125rem;
        padding-right: 0.375rem;
        display: inline-block;
        color: #fff; }
  .footer .partners-grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 13px; }
    .footer .partners-grid .square {
      width: 60px;
      height: 60px;
      overflow: hidden; }
    .footer .partners-grid .link-item:hover img {
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
      .footer .partners-grid .link-item:hover img:hover {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8); }

.copyright {
  text-align: center;
  color: #fff; }
  .copyright::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.3px;
    background: #e2e2e2; }
  .copyright .text {
    padding-top: 30px;
    color: inherit; }
